// Quasar SCSS Variables
// Overrides before Quasar's own variables

$primary:   #C8102E;
$secondary: #1a1a1a;
$accent:    #C8102E;
$dark:      #111111;
$dark-page: #070707;

$positive: #21BA45;
$negative: #C10015;
$info:     #31CCEC;
$warning:  #F2C037;
